<h2 class>How was the azure function session</h2>
<!-- Default inline 1-->
<h5 style="display: inline-block;padding-right: 5px;">Mode:  </h5>
<div class="custom-control custom-radio custom-control-inline">    
    <input type="radio" class="custom-control-input" (click)="radioButtonClick($event)" id="defaultInline1" name="inlineDefaultRadiosExample" value="QR">
    <label class="custom-control-label" for="defaultInline1">By QR-Code</label>
  </div>
  
  <!-- Default inline 2-->
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="defaultInline2" (click)="radioButtonClick($event)"  [checked]="true" name="inlineDefaultRadiosExample" value="Button">
    <label class="custom-control-label" for="defaultInline2">By Button</label>
  </div>
  
<div class="row" *ngIf= "buttonMode">
    <div class="col-md-4">
        <div class="card  text-center">
            <div class="card-body">
              <h5 class="card-title">Intresting</h5>
              <button class="btn btn-primary">Vote</button>                         
            </div>
          </div>
    </div>
   
    <div class="col-md-4">
        <div class="card  text-center">
            <div class="card-body">
              <h5 class="card-title">Not Bad</h5>      
              <button class="btn btn-primary">Vote</button>                         
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card  text-center">
            <div class="card-body">
              <h5 class="card-title">Boring</h5> 
              <button class="btn btn-primary">Vote</button>                         
            </div>
          </div>
    </div>
</div>


<div class="row"  *ngIf= "!buttonMode">
    <div class="col-md-4">
        <div class="card  text-center">
            <img class="card-img-top" src="../../assets/Images/Intresting.png" alt="Intresting">
            <div class="card-body">
              <h5 class="card-title">Intresting</h5>                         
            </div>
          </div>
    </div>
   
    <div class="col-md-4">
        <div class="card  text-center">
            <img class="card-img-top" src="../../assets/Images/Not Bad.png" alt="Not Bad">
            <div class="card-body">
              <h5 class="card-title">Not Bad</h5>                            
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card  text-center">
            <img class="card-img-top" src="../../assets/Images/Boring.png" alt="Boring">
            <div class="card-body">
              <h5 class="card-title">Boring</h5>              
            </div>
          </div>
    </div>
</div>